@import "blocks/board.css";
@import "blocks/board__tile.css";
@import "blocks/header.css";
@import "blocks/nav.css";

:root {
  --background-color: #394F67;
  --text-color: #D7E1EC;

  --tile-text-color: #152639;
}

html, body {
  margin: 0;
  padding: 0;
}
html {
  font-size: 6vmin;
  height: 100%;
} 

body {
  background-color: var(--background-color);
  color: var(--text-color);
  max-height: 100%;
}

.container {
  --tile-size: calc(90vmin / 4 - 10px);

  width: calc(4 * var(--tile-size) + 10px * 3);
  margin: 0.5rem auto;
  font-family: "PT Sans", "Segoe UI", "Verdana", "Helvetica", sans;
  color: var(--tile-text-color);
}

.links {
  text-align: center;
  font-size: .5rem;
}
.links > a:link,
.links > a:hover,
.links > a:active, 
.links > a:visited {
  color: var(--text-color);
}

@media screen and (min-width: 550px) {
  html {
    font-size: 6vmin;
  } 
}

@media screen and (min-width: 900px) {
  .container {
    --tile-size: calc(780px / 4 - 10px);
  }

  html {
    font-size: 48px;
  } 
}
