@import "blocks/board.css";
@import "blocks/board__tile.css";
@import "blocks/header.css";
@import "blocks/nav.css";

html, body {
  max-height: 100%;
  margin: 0;
  padding: 0;
}
html {
  font-size: 6vmin;
} 

body {
  --background-color: #394F67;
  background-color: var(--background-color);
}

.container {
  --tile-size: calc(90vmin / 4 - 10px);
  width: calc(4 * var(--tile-size) + 10px * 3);
  margin: 0.5rem auto;
  font-family: "PT Sans", "Segoe UI", "Verdana", "Helvetica", sans;
  color: #152639;
}

@media screen and (min-width: 550px) {
  html {
    font-size: 6vmin;
  } 
}

@media screen and (min-width: 900px) {
  .container {
    --tile-size: calc(780px / 4 - 10px);
  }

  html {
    font-size: 48px;
  } 
}
