.board__tile {
  box-sizing: border-box;
  border: 0.2rem solid rgba(0,0,0, 0.2);
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tile-2 {
  background-color: #A9FD94;
}
.tile-4 {
  background-color: #A8FF7C;
}
.tile-8 {
  background-color: #41C63F;
}
.tile-16 {
  background-color: #1B9419;
}
.tile-32 {
  background-color: #F7FA2E;
}
.tile-64 {
  background-color: #F6E122;
}
.tile-128 {
  background-color: #F8CF1A;
}
.tile-256 {
  background-color: #FA940F;
}
.tile-512 {
  background-color: #FC6D12;
}
.tile-1024 {
  background-color: #E6141B;
}
.tile-2048 {
  background-color: #C00305;
}
.tile-letter-2 {
  color: hsl(120, 100%, 90%);
  background-color: hsl(0, 0%, 20%);
  font-size: 4em;
}
.tile-letter-4 {
  color: hsl(120, 100%, 80%);
  background-color: hsl(0, 0%, 20%);
  font-size: 4em;
}
.tile-letter-8 {
  color: hsl(120, 100%, 50%);
  background-color: hsl(0, 0%, 20%);
  font-size: 4em;
}
.tile-letter-16 {
  color: hsl(120, 100%, 30%);
  background-color: hsl(0, 0%, 20%);
  font-size: 4em;
}
.tile-letter-32 {
  color: hsl(60, 100%, 80%);
  background-color: hsl(0, 0%, 20%);
  font-size: 4em;
}
.tile-letter-64 {
  color: hsl(60, 100%, 50%);
  background-color: hsl(0, 0%, 20%);
  font-size: 4em;
}
.tile-letter-128 {
  color: hsl(30, 100%, 70%);
  background-color: hsl(0, 0%, 20%);
  font-size: 4em;
}
.tile-letter-256 {
  color: hsl(30, 100%, 50%);
  background-color: hsl(0, 0%, 20%);
  font-size: 4em;
}
.tile-letter-512 {
  color: hsl(20, 100%, 40%);
  background-color: hsl(0, 0%, 20%);
  font-size: 4em;
}
.tile-letter-1024 {
  color: hsl(20, 100%, 50%);
  background-color: hsl(0, 0%, 20%);
  font-size: 4em;
}
.tile-letter-2048 {
  color: hsl(0, 100%, 50%);
  background-color: hsl(0, 0%, 20%);
  font-size: 4em;
}
.text-new-game {
  margin: 0;
  padding: 0;
  font-size: 0.9em;
}
