header {
    margin: 10px 0;
}

.logo {
    color: var(--text-color);
    font-size: 0.8rem;
    width: var(--tile-size);
    background-color: #C00305;
    padding: 10px 0;
    text-align: center;

    -webkit-touch-callout: none;
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}